<!DOCTYPE html>
<html lang="en">

<head>
<% include partials/head.ejs %>
</head>
<body class="abouts">
<% include partials/header.ejs %>

<div class = "row">
<div class="col-md-7">
    <img src="images/image27.jpg" class="image">
</div>
<div class="col-md-5" >
    <div class="all1">
    <h4 class="centre">Who we are</h4>
    <p class="margin">We are an exciting and innovative new company with over 40 years of experience in the carpentry industry. 
        After working for many years in different guises within this field, form trainee to  site supervisor and onto Senior construction manager for one of the countries leading developers, 
        we decided to create our own company and finally have the autonomy to do things our way tailoring each and every project to its individual need.
    </p>
</div>
</div>

</div>

<div class="row">
    <div class="col-md-7">
        <div class="all2">
        <div class="foreach1">
<h3 class="header1">Objectives</h3>
<p ><ul class="para1">
    <li>To provide the best service available to the community at an affordable price.</li>
    <li>To create, design and restore with skill, passion, enthusiasm and professionalism.</li>
    <li>Constant growth in sales from start up through year three.</li>
    <li>To generate customer satisfaction so that at least 40% of our customer base is repeat business.</li>
</ul></p>
</div>
</div>
    </div>

<div class="col-md-5">
    <div class="all3">
    <div class="foreach2">
<h3 class="header2">Our Vision</h3>
<p class="para2"> To ensure our employees and clients know to expect a friendly approach, safe working environment and provision of a high quality service.</p>
</div>
</div>
</div>
</div>


<% include partials/footer.ejs %>

</body>

</html>