<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include partials/head.ejs %>
</head>
<body class="backN">
    
    <h1 class="just">Your order has98 been sent sucessfully</h1>

    </body>

</html>